body {
    margin: 0px;
    padding:0px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) ,url(cal_image.jpg);
    
}
#app {
    background-color: rgb(174, 188, 197);
    width: 255px;
    padding: 5px;
    text-align:center;
    margin:40px auto;
    padding: 5px 10px;
    border-radius:5px;
    box-shadow: 4px 2px 10px 5px rgba(0, 0, 0, 0.616);
    border: 1px solid black;
    position: relative;
}
#mg {
    position: absolute;
    color: rgb(88, 44, 44);
    right: 18px;
    bottom:1px;
    font-size: 11px;
    letter-spacing: 2px;
}
input[type="button"] {
    width:57px;
    height:40px;
    background-color: rgba(49, 216, 20, 0.39);
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 10px;
    border-radius:5px;
}
#made {
    width:45%;
    background-color:rgba(255, 9, 1, 0.781) !important;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px  black;
}
#screen {
   
    border:1px solid rgba(0, 0, 0, 0.459);
    display:block;
    height:55px;
    background-color: rgb(204, 202, 194);
    border-radius:6px;
    text-align: left;
    padding: 5px;
    font-family: sans-serif;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
   
}
hr {
    margin: 10px auto;
    height: 3px;
}
.operator {
    background-color:rgba(246, 0, 0, 0.767) !important;
    
    
}
.del {
    width:45% !important;
    background-color:rgba(133, 15, 15, 0.637) !important;
}
#number {
    font-size: large !important;
    background-color: rgba(28, 211, 28, 0.603);
}
.operator2 {
    background-color: rgba(40, 4, 241, 0.719) !important ;
    font-weight: bold;
    font-family: cursive;
    color:rgba(251, 251, 251, 0.774);
}
.cg {
    background-color:rgba(238, 3, 3, 0.541) !important;
}
#ac {
    position: relative;
}
.result {
    position: absolute;
    right: 10px; 
    bottom:5px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(155, 11, 11);
    height: 30px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
input[value="fb"] {
   color: rgba(25, 21, 246, 0.774) !important;
   font-weight: bold !important ;
   background-color: white !important ;
}